/*main*/

.page-title h1 {
  font-size: 32px;
  color: #0D85CC;
  padding-left: 10px;
}

.user-menu, .before-user-menu {
  postion: absolute;
  padding-left: 10px;
}

/*navigation*/

nav {
  background-color: #4CDCEA;
  font-family: 'Lato', sans-serif;
}

/*.nav-wrapper .brand-logo a {
  padding-left: 10px;
}*/

/*homepage*/

.homepage-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*index cards*/

.card-image {
  height: 150px;
  width: 250px;
}

.country {
  font-size: 18px;
}

.card {
  height: 280px;
  width: 250px;
}

/*show cards*/

.card-indiv {
  height: 700px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.card-image-indiv {
  height: 500px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-card {
  font-size: 18px;
}

#show-title {
  text-align: center;
}

/*comments*/

#comment-section-title, #post-comment {
  font-size: 16px;
  color: #0D85CC;
}

.comments-list {
  color: #000;
}

.comment-title {
  font-style: italic;
}

.comments-block {
  margin-left: : 40px;
}

/*forms*/

#suggest-place-title {
  font-size: 28px;
  color: #0D85CC;
}

/*user profile*/

.user-profile {
  margin-left: 100px;
}
