<div class="comments">
  <h3 id="comment-section-title"> Comments</h3>
  <h6>Comment by <%= comment.user.username %></h6>
  <p class="comment-title"><%= comment.title %></p>
  <p class="comment-body">"<%= comment.body %>"</p>
  <p>Posted: <%=comment.created_at.strftime("%m/%d/%Y at %l:%M %P")%></p>
</div>
