<header id="header">
  <a class="site-logo" href="#">Wanderlust</a>

  <nav role="navigation" id="nav-main" class="okayNav">
    <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li>
  </nav>
</header>
