<header id="header">
  <a class="site-logo" href="#">
           Wanderlust
        </a>

  <nav role="navigation" id="nav-main" class="okayNav">
    <ul>
      <li><a href="#">Destinations</a></li>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">My Lists</a></li>
      <li><a href="#">Travel Community</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<script>

</script>
