<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-pills">
      <%= link_to "Home", root_path%>
      <%= link_to "About", about_path%>
      <!-- role="presentation", class="menu"  -->
    </ul>
  </div>
</nav>
